spring:
  application:
    name: bookstore
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./data/bookstore;AUTO_SERVER=TRUE;
    username: admin
    password: admin
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  threads:
    virtual:
      enabled: true

